{   
    servers {
        trusted_proxies static 0.0.0.0/0
    }
}
mesh-viewer.local.dp.tech {
    tls ./certs/_.local.dp.tech.crt ./certs/_.local.dp.tech.key
    log {
        output stdout
        level DEBUG
    }

    reverse_proxy /* localhost:50002
}