apiVersion: v1
kind: Secret
metadata:
  name: mesh-viewer-credentials
  namespace: project-launching
type: Opaque
data:
  redis-url: cmVkaXM6Ly86MlBDZTRGNmRkZ2pwbGRaV0ByLTJ6ZTN0NGU2NWxkdm9jcnZncS5yZWRpcy5yZHMuYWxpeXVuY3MuY29tOjYzNzkvMTI=
